<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <!--RobotoFont
https://fonts.google.com/specimen/Roboto?category=Serif,Sans+Serif&sort=popularity&preview.text=about&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet" />
  <!--OswaldFont
https://fonts.google.com/specimen/Oswald?category=Serif,Sans+Serif&sort=popularity&preview.text=Created%20by&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet" />
  <!--YanoeKaffeeatzFont
https://fonts.google.com/specimen/Yanone+Kaffeesatz?category=Serif,Sans+Serif&sort=popularity&preview.text=Thanks%20for%20your%20visit&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Yanone+Kaffeesatz&display=swap"
    rel="stylesheet" />
  <!--WorkSansFont
https://fonts.google.com/specimen/Work+Sans?category=Serif,Sans+Serif&sort=popularity&preview.text=@heisjuanda&preview.text_type=custom
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Work+Sans:ital@1&family=Yanone+Kaffeesatz&display=swap"
    rel="stylesheet" />
  <!--WorkSansFont
https://fonts.google.com/specimen/Gantari?category=Serif,Sans+Serif
-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Gantari:wght@100&display=swap" rel="stylesheet" />

  <!--Inter Thiht-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,900&family=Roboto:ital,wght@1,900&display=swap"
    rel="stylesheet">

  <!--Raleway
  https://fonts.google.com/specimen/Raleway?category=Sans+Serif&vfonly=true&preview.text=About%20Juan%20David&preview.text_type=custom-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&family=Raleway:ital,wght@0,900;1,900&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <div id="cONTACT" class="headerButtonBack" data-aos="fade-right" data-aos-duration="500" data-aos-anchor-placement="center-bottom">
    <button class="botonHeader">
      <a href="https://heisjuanda.netlify.app/">
        <i>
          <p>
            Back? <br />
            <span>Yes</span>
          </p>
        </i>
      </a>
    </button>
  </div>

  <div class="title" data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
    <h1>Contact Me</h1>
  </div>

  <div class="form1">
    <form (ngSubmit)="onSubmit()">

      <div data-aos-once="true" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
        <label for="Email">Email</label>
        <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="to" id="Email" type="email"
          placeholder="jdma253@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>

      <div data-aos-once="true" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
        <label for="Title">Title</label>
        <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="subjet" id="Title" type="text"
          placeholder="How are you doing today?">
      </div>

      <div data-aos-once="true" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
        <label for="Message">Message</label>
        <textarea required [ngModelOptions]="{standalone: true}" [(ngModel)]="message" id="Message" cols="30" rows="10"
          style="resize: none;"></textarea>
      </div>

      <div>
        <button type="submit">
          <p>Send</p>
        </button>
      </div>

    </form>
  </div>

  <div data-aos-once="true" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-offset="10" class="esta">
    <a class="Back" href="#cONTACT">
      <img
        src="https://user-images.githubusercontent.com/63882053/192379634-63afe651-a484-4a42-8129-5b56a3409319.png"
        alt="" />
    </a>
  </div>

  <script>
    AOS.init();
  </script>
</body>

</html>
